layout: index
description: Hexo はNode.jsで構築された高速でシンプルかつ強力なブログのフレームワークです。
subtitle: 高速でシンプルかつ強力なブログのフレームワーク
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 驚異的な速さ
      p.intro-feature-desc Node.jsによる驚異的な生成速度。何百ものファイルを構築するのに数秒しかかかりません。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title マークダウンのサポート
      p.intro-feature-desc ほとんどのOctopressプラグインを含め、GitHub風マークダウンの全ての機能がサポートされます。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title ワンコマンドでデプロイ
      p.intro-feature-desc コマンド１つでGitHub PagesやHerokuなどのプラットフォームにサイトをデプロイ可能です。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title プラグイン
      p.intro-feature-desc 制限なく拡張を行うための強力なAPIを備えています。ほとんどのテンプレートエンジン（EJS, Pug, Nunjucksなど）をサポートする様々なプラグインが利用可能です。既存のNPMパッケージ（Babel, PostCSS, Less/Sassなど）と簡単に統合できます。